/* Font Familly */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}

/* Head section banner Style  */

.banner-container{
    max-width: 1320px;
    min-height: 600px;
    margin:0 auto;
    margin-top: 30px;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("asset/images/Banner\ Image.png") ;
    
    background-blend-mode: oberlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    

}

/* banner text design  */
.banner-container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}


.banner-container-text p,h1{
    color: aliceblue;
}
.banner-container-text p{
font-size: 32px;
font-weight: 400px;

}
.banner-container-text h1{
font-size: 72px;
font-weight: 900;

}

/* 65% text style */
.main-content{
    width: 800px;
    height: 800px;
    
    margin: 0 auto;
    margin-top: 130px;
}
 .main-content-text h1{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
line-height: 107px;
letter-spacing: 0%;
text-align: center;
margin-top: 30px;
margin-bottom: 10px;
}

.main-content-text p{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
.main-content-text h3{
color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}


/* 65% picture design */
.main-content-img{
    border: 2px solid blue;
    width: 800px;
    height: 500px;
}

/* 3rd image style  */
.third-image-container{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-image:  url("asset/images/Vectorrr.png");
    
    border-radius: 16px;
    background-blend-mode:overlay;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: 130px;
}
.rightside-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leftside-container{
    width: 50%;
    height: 100%;
    
}
.rightside-container h1{
color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
}
.rightside-container p{
color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-left: 80px;
}
.rightside-container span{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-right: 380px;
}
.leftside-container{
    padding-top: 100px;
    padding-left: 100px;
}


/* newyear hotel style */

.hotel{
    width: 1320px;
    height: 482px;
    border: 2px ;
    margin: 0 auto;
    margin-top: 130px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.newyear-hotel p{
    width: 549px;
    margin: 0 auto;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: black;
    
    
    
    
}
.text-color{
    color: red;
}
#btn{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
background-color: red;
padding: 16px 32px 16px 32px;
border-radius: 2px;



}
.btn-container{
    margin-top: 50px;
}

/* happy new year offer style  */

.happy-new-year-offer{
    width: 1320px;
    height: 463px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
}
.left-side-offer{
    width: 34%;
    height: 100%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-side-offer h3{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align:left;
margin-right: 230px;
}

.left-side-offer h1{
color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
margin-right: 150px;

}

.left-side-offer p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}

.mid-side-offer{
    width: 33%;
    height: 100%;
    /* border: 2px solid green; */
    box-sizing: border-box;
    border: 10px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50%;
    margin-top: 30px;
    

}
.right-side-offer{
    width: 33%;
    height: 100%;
    margin-left: 50px;
    padding-top: 100px;
}
.right-side-offer h1{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: left;
}
.right-side-offer p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}

/* holidays sales style */
.holidays-sales{
width: 1320px;
height: 986.07px;
border: 2px solid red;
margin: 100px auto;
position: relative;
}
.holidays-sales-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.holidays-sales-text h3{
color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.holidays-sales-text h1{
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 91px;
letter-spacing: 0%;
text-align: center;
color: black;
}
.holidays-sales-text p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
margin-left: 200px;
margin-right: 200px;
}

/* red box shape style */
.red-box-conatainer{
width: 1320px;
height: 229px;
background-color: red;
position: absolute;
top: 77%;


}
.red-box-img{
    
    position: relative;
    z-index: 1;
    display: flex;
    
}
#img2-box{
    width: 300px;
    height: 300px;
    margin-top: 150px;
    margin-left: 150px;
}

/* shoping cart style */

.shoping{
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-top: 300px;
}
.shoping h4{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.shoping h1{
color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}
.shoping p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
/* shoping picture design */

.shoping-pic{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.shoping-pic2{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

/* email form style */

.email-form{
    width: 1320px;
    height: 616px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email-form-content h3{
color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;

}
.email-form-content p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
}
.img5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}